# This notebook is for IDA ( Initial data exploration )

In [2]:
# Imports
import pandas as pd

In [3]:
!ls

1.0-yss-initial-data-exploration.ipynb

In [4]:
bbb_data = pd.read_csv("/home/ds/notebooks/data/raw/train/ball_by_ball_data.csv")

In [54]:
bbb_data[(bbb_data.bowler == 'Tymal Mills') & (bbb_data.is_super_over == 1)]
# .match_id.unique()
# & (bbb_data.dismissal_kind.notnull())

Empty DataFrame
Columns: [match_id, inning, batting_team, bowling_team, over, ball, batsman, batsman_id, non_striker, non_striker_id, bowler, bowler_id, batsman_runs, extra_runs, player_dismissed, player_dismissed_id, dismissal_kind, is_super_over]
Index: []

In [52]:
bbb_data[(bbb_data.match_id == '2017_1') & (bbb_data.inning == 1) & (bbb_data.extra_runs != 0)]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,batsman_id,non_striker,non_striker_id,bowler,bowler_id,batsman_runs,extra_runs,player_dismissed,player_dismissed_id,dismissal_kind,is_super_over
4,2017_1,1,SRH,RCB,1,5,David Warner,207,Shikhar Dhawan,57,Tymal Mills,621,0,2,NaN,NaN,NaN,0
6,2017_1,1,SRH,RCB,1,7,Shikhar Dhawan,57,David Warner,207,Tymal Mills,621,0,1,NaN,NaN,NaN,0
9,2017_1,1,SRH,RCB,2,3,David Warner,207,Shikhar Dhawan,57,Aniket Choudhary,480,0,1,NaN,NaN,NaN,0
78,2017_1,1,SRH,RCB,13,5,Yuvraj Singh,88,Moises Henriques,212,Aniket Choudhary,480,0,1,NaN,NaN,NaN,0
107,2017_1,1,SRH,RCB,18,3,Yuvraj Singh,88,Deepak Hooda,529,Aniket Choudhary,480,0,1,NaN,NaN,NaN,0
108,2017_1,1,SRH,RCB,18,4,Yuvraj Singh,88,Deepak Hooda,529,Aniket Choudhary,480,0,1,NaN,NaN,NaN,0

In [41]:
9/4

2.25

In [42]:
!ls

1.0-yss-initial-data-exploration.ipynb	ball_by_ball_data.csv